.App {
  text-align: center;
  margin-top: 50px;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

button:focus {
  outline: none;
}
